In [25]:
n=int(input())
a=1
b=1
for i in range(1,n+1):
    if i%2!=0:
        a=a*2
    else:
        b=b*3

1024
59049

In [42]:
n = int(input('enter the number: '))
a= 1

b= 1

for i in range(1, n+1):

    if(i%2!=0):

        a = a*2

    else:

        b = b*3


print(a/2)

enter the number: 4
2.0

In [50]:
X,Y=map(int,(input()).split())
print(X*Y)

3 7
21

In [5]:
a= 'Ashwini'
b='Kumar'
print("My name is {} {}".format(a,b))
print(f"My name is {a} {b}")

My name is Ashwini Kumar
My name is Ashwini Kumar

In [8]:
word=input("Enter the word:")
opp=word[::-1]
if word==opp:
    print("palindrome")
else:
    print("no")

Enter the word:malayalam
palindrome

In [9]:
word=input("Enter the word:")
print(word[::-1])

Enter the word:ASHWINI
INIWHSA

In [27]:
l=['s','p','t']
L=[1,4,9,16,25]
"s" in L

False

In [22]:
l=['Hello']
l*5

['Hello', 'Hello', 'Hello', 'Hello', 'Hello']

In [71]:
row=int(input("Enter number of rows:"))
for i in range(1,row+1):
    for j in range(1,i+1):

        print("*",end=" ")
    print()

Enter number of rows:5
*
* *
* * *
* * * *
* * * * *

In [72]:
row=int(input("Enter number of rows:"))
k=1
for i in range(1,row+1):
    for j in range(1,k+1):
#         if i%2!=0:
        print("*",end=" ")
    k=k+2
    print()

Enter number of rows:3
*
* * *
* * * * *

In [85]:
row=int(input("Enter number of rows:"))
for i in range(0,row):
    for j in range(0,row-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter number of rows:10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [94]:
row=int(input("Enter number of rows:"))
for i in range(0,row+1):
    for j in range(i):
        print(end=" ")
    for j in range(row-i):
        print("*",end=" ")
    print()

Enter number of rows:10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [99]:
row=int(input("Enter number of rows:"))
for i in range(row,0,-1):
    for j in range(row-i):
        print(end=" ")
    for j in range(0,i):
        print("*",end=" ")
    print()

Enter number of rows:5
* * * * *
 * * * *
  * * *
   * *
    *

In [102]:
row=int(input("Enter number of rows:"))
for i in range(row):
    for j in range(row-i-1):
        print(end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for k in range(row-1,0,-1):
    for l in range(row-k):
        print(end=" ")
    for l in range(k):
        print("*",end=" ")
    print()

Enter number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [114]:
def diamond(rows):
    for i in range(rows):
        print(" "*(rows-i-1)+"* "*(i+1))
    for j in range(rows-1,0,-1):
        print(" "*(rows-j),"* "*(j))
diamond(int(input("Enter number of rows:")))

Enter number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *
  * * * *
   * * *
    * *
     *

In [116]:
def diamond(rows):
    for i in range(rows):
        print(" "*(rows-i-1)+"* "*(i+1))
    for j in range(rows-1,0,-1):
        print(" "*(rows-j-1),"* "*(j))
diamond(int(input("Enter number of rows:")))

Enter number of rows:5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [119]:
row=int(input("Enter number of rows:"))
for i in range(row):
    for j in range(row-i,0,-1):
        print("*",end=" ")
    print()

Enter number of rows:5
* * * * *
* * * *
* * *
* *
*

In [125]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4 and row!=0) or (row==0 or row==3 and (0<col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [153]:
a=0
b=4
for i in range(7):
    for j in range(5):
        if (j==0) or (i-j==2 and j>1):
            print("*",end="")
        elif (i==a and j==b):
            print("*",end="")
            a=a+1
            b=b-1
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [156]:

for i in range(9):
    for j in range(6):
        if (j==0) or (i-j==3 and j>1) or (i+j==5) :
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
*   *
*  *
* *
**
* *
*  *
*   *
*    *

In [163]:
a=1
num=int(input("Enter the number of rows:"))
for i in range(num):
    for j in range(i+1):
        print(a,end=" ")
        a+=1
    print()

Enter the number of rows:4
1
2 3
4 5 6
7 8 9 10

In [166]:
l=['p','y','t','h','o','n']
for i in range(6):
    for j in range(i+1):
        print(l[j],end=" ")
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [180]:
a=10
num=int(input("Enter the number of rows:"))
for i in range(num,0,-1):
    for j in range(1,i):
        print(a**2,end=" ")
        a+=1
    print()

Enter the number of rows:5
100 121 144 169
196 225 256
289 324
361

In [182]:
a=1
num=int(input("Enter the number of rows:"))
for i in range(num):
    for j in range(i+1):
        print(a**2,end=" ")
        a+=1
    print()

Enter the number of rows:10
1
4 9
16 25 36
49 64 81 100
121 144 169 196 225
256 289 324 361 400 441
484 529 576 625 676 729 784
841 900 961 1024 1089 1156 1225 1296
1369 1444 1521 1600 1681 1764 1849 1936 2025
2116 2209 2304 2401 2500 2601 2704 2809 2916 3025

In [203]:
n=int(input("Enter number of rows:"))
list1=[]
for i in range(n):
    temp_list=[]
    for j in range(i+1):
        if j==0 or j==i:
            temp_list.append(1)
        else:
            temp_list.append(list1[i-1][j-1] + list1[i-1][j])
    list1.append(temp_list)
print(list1)

for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print(list1[i][j],end=" ")
    print()

Enter number of rows:5
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1